    <!-- Download Section -->
    <section id="colaboradores" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Colaboradores</h2>
                    <p>No estamos solos, este proyecto cuenta con la participación y compromiso de varios colectivos artisiticos y académicos.</p>
                    <a href="http://teatroninoproletario.cl/" class="btn btn-default btn-lg">Teatro Niño Proletario</a>
                    <a href="http://datashades.com/" class="btn btn-default btn-lg">DataShades</a>
                    <a href="https://www.colectivozoologico.cl/" class="btn btn-default btn-lg">Colectivo Zoológico</a>
                </div>
            </div>
        </div>
    </section>